@charset "utf-8";
html,
body {
	position: relative;
}
body {
	min-width: 750px;
	background-position: 50% 50%;
	background-image: url('../i/back-1.jpg');
	background: none;
	background-attachment: fixed !important;
}
a{
	text-decoration: none;
	color: #262626;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 2px solid #F00 !important;
	box-shadow: 0 0px 0px 0px #F00;
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold,
b{
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 750px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -375px;
}
input::-webkit-input-placeholder {
	color: #969696;
}
input:-moz-placeholder {
	color: #969696;
}
.b-icon{
	position: relative;
}
.b-icon:before{
	background-size: 326px;
	position: absolute;
	content: "s";
	font-size: 0px;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-main-slide{
	overflow: hidden;
}
.b-main-slide *{
	color: #FFF;
}
	.b-back-cont{
		position: fixed;
		width: 1920px;
		height: 100%;
		top: 0%;
		left: 50%;
		margin-left: -960px;
		z-index: 0;
	}
		.b-back-cont .b-back{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			background-position: 50% 0%;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('../i/back-1.jpg');
		}
		.b-back-cont .b-back-svg{
			position: absolute;
			left: 0px;
			width: 100%;
			height: 100%;
			/*opacity: 0.5;*/
			/*display: none;*/
		}
		 .b-back-svg g path{
			opacity: 0;
		 }
	.b-main-slide .b-block{
		height: 100%;
	}
		.b-main-slide .b-head{
			padding-top: 32px;
		}
			.b-main-slide .b-head .b-logo{
				display: none;
			}
				.b-main-slide .b-head .b-logo img{display: none;}
			.b-main-slide .b-head .b-number{
				font-size: 36px;
				margin-left: 75px;
				position: relative;
				display: inline-block;
				margin-top: 3px;
			}
				a.b-number.left {

				}
				.b-main-slide .b-head .b-number:before{
					width: 30px;
					height: 34px;
					left: -40px;
					top: 6px;
					background-position: -196px -2px;
				}
			.b-main-slide .b-head .b-top-buttons{margin-right: 40px;}
				.b-main-slide .b-head .b-top-buttons a{
					font-size: 0px;
					margin-left: -10px;
					position: relative;
					text-transform: uppercase;
					padding-left: 30px;
				}
				.b-main-slide .b-head .b-top-buttons a.b-callback-butt{
				display: block;
				width: 44px;
				height: 44px;
				}
				.b-main-slide .b-head .b-top-buttons a.b-callback-butt:hover{
					opacity: 0.7;
				}
					.b-main-slide .b-head .b-top-buttons a.b-callback-butt:before{
						width: 44px;
						height: 30px;
						left: 0px;
						top: 8px;
						background-position: -44px -2px;
					}
				.b-main-slide .b-head .b-top-buttons a.b-menu-butt{
					/*width: 50px;
					height: 50px;
					position: fixed;
					border-radius: 50%;
					left: 50%;
					margin-left: -490px;
					top: 57px;
					z-index: 999;*/
					position: relative;
					display: block;
					width: 44px;
					height: 44px;
					overflow: visible;
				}
				.b-main-slide .b-head .b-top-buttons a.b-menu-butt:hover{
					opacity: 0.7;
				}
					.b-main-slide .b-head .b-top-buttons a.b-menu-butt span{
						width: 44px;
						top: 20px;
						left: 30px;
						height: 4px;
						opacity: 1;
						position: absolute;
						display: inline-block;
					}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt.opened span{
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt.opened{
							color: #262626;
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt span:after,
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt span:before{
							position: absolute;
							content: "s";
							font-size: 0px;
							width: 100%;
							height: 4px;
							left: 0px;
							-webkit-transform-origin: 0% 50%;
							-moz-transform-origin: 0% 50%;
							-o-transform-origin: 0% 50%;
							-ms-transform-origin: 0% 50%;
							transform-origin: 0% 50%;
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt span:after{
							top: -14px;
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt:hover span:after{
							top: -9px;
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt.opened span:after{
							top: -8px;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt span:before{
							top: 14px;
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt:hover span:before{
							top: 9px;
						}
						.b-main-slide .b-head .b-top-buttons a.b-menu-butt.opened span:before{
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);
							top: 8px;
						}
		.b-main-slide .b-big-logo{
			display: inline-block;
			position: absolute;
			left: 50%;
			margin-left: -489px;
			top: 50%;
			margin-top: -146px;
			background-position: 50% 50%;
			width: 978px;
			height: 292px;
		}
		.b-main-slide .b-scroll-down{
			width: 44px;
			height: 122px;
			position: absolute;
			left: 50%;
			margin-left: -20px;
			bottom: 30px;
		}
			.b-main-slide .b-scroll-down:before{
				background-position: -282px 0px;
				width: 44px;
				height: 122px;
				left: 0px;
				top: 0px;
			}
	.b-main-menu{
		display: none;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -150px;
	}
		.b-main-menu li{
			opacity: 0;
			margin-bottom: 25px;
			text-align: right;
			-webkit-transform: translateY(30px);
			   -moz-transform: translateY(30px);
			    -ms-transform: translateY(30px);
			   	 -o-transform: translateY(30px);
					transform: translateY(30px);
		}
			.b-main-menu a{
				color: #262626;
				font-size: 50px;
				position: relative;
			}
			.b-main-menu a .b-line{
				position: absolute;
				right: 0px;
				top: 26px;
				font-size: 0px;
				width: 0px;
				height: 5px;
			}
			/*.b-main-menu a:hover .b-line{
				width: 2000px;
			}*/
			.b-main-menu a:hover{
				color: #ff5c54;
			}
h2.b-title{
	font-size: 50px;
	line-height: 30px;
	position: relative;
	margin-bottom: 115px;
}
	h2.b-title:before{
		position: absolute;
		content: "s";
		font-size: 0px;
		width: 190px;
		height: 3px;
		left: 50%;
		margin-left: -95px;
		bottom: -60px;
	}
.b-about-slide{
	padding-bottom: 0px;
	height: 700px;
}
	.b-about-slide .b-block{
		z-index: 10;
		padding-top: 100px;
	}
		.b-about-slide h2.b-title{

		}
		.b-about-slide p{
			font-size: 32px !important;
			line-height: 44px !important;
			display: inline-block;
			width: 83%;
			text-align: left;
		}
			.b-about-slide p b{
			}
.b-big-letters{
	font-size: 0px;
	width: 100%;
	background-size: 100%;
	margin-bottom: -20px;
}
	.b-big-letters img{
		width: 100%;
	}
.half{
	width: 100%;
	position: relative;
}
.b-what-we-do{
	overflow: hidden;
}
.b-what-we-do-1{
	min-height: 750px;
	padding-top: 100px;
}
	.b-what-we-do-1 h2.b-title{margin-top: 2px;}
	.b-what-we-do-1 .b-block{padding-top: 20px;}
		.b-what-we-do-1 .b-block .half.left{width: 100%;margin-top: 50px;}
			.b-what-we-do-1 .b-block .half.left .b-mac{
				position: absolute;
				left: 40px;
				top: 0px;
				width: 598px;
				height: 588px;
				-webkit-transform: translateX(-100px);
				-moz-transform: translateX(-100px);
				-ms-transform: translateX(-100px);
				-o-transform: translateX(-100px);
				transform: translateX(-100px);
			}
				.b-what-we-do-1 .b-block .half.left .b-mac .b-screen{
					margin-top: 19px;
					margin-left: 21px;
					width: 556px;
					height: 335px;
					position: relative;
					background-size: 556px;
					background-position: 50% 50%;
				}
					.b-what-we-do-1 .b-block .half.left .b-screen:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
					}
					.b-what-we-do-1 .b-block .half.left .b-screen.screen-show:after{
						position: absolute;
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						opacity: 0;
					}
				.b-what-we-do-1 .b-block .half.left .b-mac:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 100%;
					height: 100%;
					left: 0px;
					top: 0px;
					background-position: 50% 50%;
					background-size: 598px;
				}
			.b-what-we-do-1 .b-block .half.left .b-ipad{
				position: absolute;
				left: 405px;
				top: 132px;
				width: 280px;
				height: 411px;
				-webkit-transform: translateX(-240px);
				-moz-transform: translateX(-240px);
				-ms-transform: translateX(-240px);
				-o-transform: translateX(-240px);
				transform: translateX(-240px);
			}
				.b-what-we-do-1 .b-block .half.left .b-ipad .b-screen{
					margin-top: 33px;
					margin-left: 31px;
					width: 218px;
					height: 290px;
					position: relative;
					background-size: 218px;
					background-position: 50% 0%;
				}
				.b-what-we-do-1 .b-block .half.left .b-ipad:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 100%;
					height: 100%;
					left: 0px;
					top: 0px;
					background-position: 50% 50%;
					background-size: 280px;
				}
			.b-what-we-do-1 .b-block .half.left .b-iphone{
				position: absolute;
				left: 570px;
				top: 250px;
				width: 158px;
				height: 278px;
				-webkit-transform: translateX(-300px);
				-moz-transform: translateX(-300px);
				-ms-transform: translateX(-300px);
				-o-transform: translateX(-300px);
				transform: translateX(-300px);
			}
				.b-what-we-do-1 .b-block .half.left .b-iphone .b-screen{
					margin-top: 30px;
					margin-left: 24px;
					width: 107px;
					height: 194px;
					position: relative;
					background-size: 107px;
					background-position: 50% 50%;
				}
				.b-what-we-do-1 .b-block .half.left .b-iphone:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 100%;
					height: 100%;
					left: 0px;
					top: 0px;
					background-position: 50% 50%;
					background-size: 158px;
				}
			.b-what-we-do-1 .b-block .half.left .b-mac.mac-show,
			.b-what-we-do-1 .b-block .half.left .b-ipad.ipad-show,
			.b-what-we-do-1 .b-block .half.left .b-iphone.iphone-show{
				-webkit-transform: translateX(0px);
				   -moz-transform: translateX(0px);
				    -ms-transform: translateX(0px);
				   	 -o-transform: translateX(0px);
						transform: translateX(0px);
			}
		.b-what-we-do-1 .b-block .half.right{background-color: rgba(255,255,255,0.9);margin-top: -70px;}
.we-do-1 .right{
	visibility: hidden;
	opacity: 0;
}
.we-do-1-show .right{
	-webkit-transition: all 500ms ease-out;
	   -moz-transition: all 500ms ease-out;
	    -ms-transition: all 500ms ease-out;
	   	 -o-transition: all 500ms ease-out;
			transition: all 500ms ease-out;
	opacity: 1;
	visibility: visible;
}
.b-what-block{
	margin-left: 12%;
	width: 76%;
	text-align: center;
}
	.b-what-block .b-what-num{
		background-position: 50% 50%;
	}
	.b-what-block .b-what-num.b-what-num-1{
		background-image: url('../i/num-1.png');
		width: 224px;
		height: 164px;
	}
	.b-what-block h3{
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 30px;
		text-align: left;
	}
	.b-what-block p{
		font-size: 32px;
		line-height: 44px;
		margin-bottom: 50px;
		text-align: left;
	}
	.b-what-block ul{
		margin-bottom: 50px;
		text-align: left;
	}
		.b-what-block ul li{
			position: relative;
			font-size: 32px;
			line-height: 44px;
			margin-left: 30px;
		}
			.b-what-block ul li:before{
				position: absolute;
				content: "s";
				font-size: 0px;
				width: 16px;
				height: 16px;
				left: -30px;
				top: 14px;
				border-radius: 20px;
			}
			.b-what-block ul li.b-without-dot:before{
				display: none;
			}
a.b-orange-butt{
	border-radius: 100px;
	border: 2px solid #ff5c54;
	color: #ff5c54;
	font-size: 32px;
	padding: 20px 50px;
	display: inline-block;
}
	a.b-orange-butt:hover{
		color: #FFF;
	}
.b-what-block a.b-orange-butt{

}
		.b-what-we-do-1 .b-what-block{
			margin-bottom: 100px;
			margin-top: 10px;
		}
.b-what-we-do-2{
	min-height: 615px;
	padding-top: 80px;
}
.b-what-we-do-2 .left.half{
	position: absolute;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: rgba(245, 245, 245, 0.9);
}
	.b-what-we-do-2 .b-what-block{
	margin-top: 20px;
	}
		.b-what-we-do-2 .b-what-num.b-what-num-2{
			background-image: url('../i/num-2.png');
			width: 266px;
			height: 164px;
		}
	.b-mobile-cards{
		display: inline-block;
		background-position: 50% 30%;
		background-repeat: no-repeat;
		background-image: url('../i/visitki.jpg');
		background-size: contain;
		width: 640px;
		height: 730px;
	}
	.mobile-cards{
		-webkit-transform: scale(0.5);
		   -moz-transform: scale(0.5);
		    -ms-transform: scale(0.5);
		   	 -o-transform: scale(0.5);
				transform: scale(0.5);
	}
	.mobile-cards-show{
		-webkit-transition: all 1100ms cubic-bezier(.15,.46,.04,.97);
		   -moz-transition: all 1100ms cubic-bezier(.15,.46,.04,.97);
		    -ms-transition: all 1100ms cubic-bezier(.15,.46,.04,.97);
		   	 -o-transition: all 1100ms cubic-bezier(.15,.46,.04,.97);
				transition: all 1100ms cubic-bezier(.15,.46,.04,.97);
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		   	 -o-transform: scale(1);
				transform: scale(1);	
	}
	.we-do-2 .left{
		visibility: hidden;
		opacity: 0;
	}
	.we-do-2-show .left{
		-webkit-transition: all 500ms ease-out;
		   -moz-transition: all 500ms ease-out;
		    -ms-transition: all 500ms ease-out;
		   	 -o-transition: all 500ms ease-out;
				transition: all 500ms ease-out;
		opacity: 1;
		visibility: visible;
	}
	.b-cards{
		display: none;
	}
	.b-what-we-do-2 .b-cards{
		background-position: 50% 50%;
		width: 874px;
		height: 747px;
		position: absolute;
		left: 0px;
		top: -61px;
		z-index: 10;
		-webkit-perspective: 800px;
		perspective: 800px;
	}
		.b-what-we-do-2 .b-cards div{
			transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.7);
		}
		.b-what-we-do-2 .b-cards .b-card-1,
		.b-what-we-do-2 .b-cards .b-card-2,
		.b-what-we-do-2 .b-cards .b-card-3{
			background-position: 50% 50%;
			background-image: url('../i/what-2/1.jpg');
			width: 400px;
			height: 222px;
			position: absolute;
			left: 100px;
			top: 240px;
		}
		.b-what-we-do-2 .b-cards .b-card-4,
		.b-what-we-do-2 .b-cards .b-card-5,
		.b-what-we-do-2 .b-cards .b-card-6,
		.b-what-we-do-2 .b-cards .b-card-7{
			background-position: 50% 50%;
			background-image: url('../i/what-2/2.jpg');
			width: 400px;
			height: 222px;
			position: absolute;
			left: 100px;
			top: 240px;
		}
			.b-what-we-do-2 .b-cards .b-card-4:after{
				position: absolute;
				content: "s";
				font-size: 0px;
				width: 100%;
				height: 100%;
				left: 0px;
				top: 0px;
				background-position: 140% 100%;
				background-size: 319px;
				opacity: 0;
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-4:after{
				opacity: 1;
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-1{
				transform: translate3d(113px, -200px, 0px) rotateX(21deg) rotateY(-11deg) rotateZ(-37deg) scale(0.88);
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-2{
				transform: translate3d(335px, 92px, 0px) rotateX(27deg) rotateY(-32deg) rotateZ(17deg) scale(0.95);
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-3{
				transform: translate3d(-32px, 126px, 0px) rotateX(32deg) rotateY(-1deg) rotateZ(-31deg) scale(0.71);
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-4{
				transform: translate3d(-34px, -93px, 0px) rotateX(10deg) rotateY(2deg) rotateZ(-6deg) scale(0.82);
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-5{
				transform: translate3d(-149px,146px, 0px) rotateX(8deg) rotateY(-8deg) rotateZ(18deg) scale(0.75);
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-6{
				transform: translate3d(206px,234px, 0px) rotateX(0deg) rotateY(-7deg) rotateZ(-25deg) scale(0.9);
			}
			.b-what-we-do-2 .b-cards.cards-show .b-card-7{
				transform: translate3d(345px, -74px, 0px) rotateX(0deg) rotateY(-0deg) rotateZ(-28deg) scale(0.7);
			}
		/*.b-what-we-do-2 .b-cards .b-layer-1{
			position: absolute;
			left: 240px;
			top: 800px;
			background-position: 50% 50%;
			width: 648px;
			height: 583px;
		}
		.b-what-we-do-2 .b-cards .b-layer-2{
			position: absolute;
			left: 0px;
			top: 750px;
			background-position: 50% 50%;
			width: 801px;
			height: 603px;
		}
		.b-what-we-do-2 .b-cards .b-layer-3{
			position: absolute;
			left: 150px;
			top: 750px;
			background-position: 50% 50%;
			width: 288px;
			height: 238px;
		}*/
.b-what-we-do-3{
	height: 853px;
	overflow: hidden;
}
	.b-what-we-do-3 .b-block{
		height: 100%;
	}
	.b-what-we-do-3 .b-block .half{
		height: 100%;
	}
	.b-what-we-do-3 .b-block .half.right{
		position: absolute;
		z-index: 1;
		background-color: rgba(255,255,255,0.9);
	}
	.b-what-we-do-3 .b-robot{
		background-position: 50% 50%;
		width: 556px;
		height: 691px;
	}
	.b-what-we-do-3 .b-hands{
		/*background-position: 50% 50%;
		width: 830px;
		height: 643px;
		position: absolute;
		right: -80px;
		top: 0px;*/
	}
		.b-what-we-do-3 .b-hands .b-top-hand{
			position: absolute;
			right: -114px;
			top: -20px;
			background-position: 50% 50%;
			width: 640px;
			height: 400px;
			background-size: contain;
			-webkit-transform: translate(50px, -50px );
			-moz-transform: translate(50px, -50px );
			-ms-transform: translate(50px, -50px );
			-o-transform: translate(50px, -50px );
			transform: translate(50px, -50px );
		}
		.b-what-we-do-3 .b-hands .b-bottom-hand{
			-webkit-transform: translate(-50px, 50px );
			-moz-transform: translate(-50px, 50px );
			-ms-transform: translate(-50px, 50px );
			-o-transform: translate(-50px, 50px );
			transform: translate(-50px, 50px );
			position: absolute;
			right: 250px;
			bottom: -13px;
			background-size: contain;
			background-position: 50% 50%;
			width: 660px;
			height: 452px;
		}
			.b-what-we-do-3 .b-hands .b-top-hand.myAnim-show,
			.b-what-we-do-3 .b-hands .b-bottom-hand.myAnim-show{
				-webkit-transform: translate(0px, 0px );
				   -moz-transform: translate(0px, 0px );
				    -ms-transform: translate(0px, 0px );
				   	 -o-transform: translate(0px, 0px );
						transform: translate(0px, 0px );
			}
	.we-do-3 .right{
		visibility: hidden;
		opacity: 0;
	}
	.we-do-3-show .right{
		-webkit-transition: all 500ms ease-out;
		   -moz-transition: all 500ms ease-out;
		    -ms-transition: all 500ms ease-out;
		   	 -o-transition: all 500ms ease-out;
				transition: all 500ms ease-out;
		opacity: 1;
		visibility: visible;
	}
	.b-what-we-do-3 .b-what-block{
		margin-top: 110px;
	}
	.b-what-we-do-3 .b-what-num-3{
		background-image: url('../i/num-3.png');
		width: 260px;
		height: 164px;
	}
.b-work{
	background: transparent;
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
}
	.b-work h2.b-title{
		color: #FFF;
	}
		.b-work h2.b-title:before{
		}
	.b-work ul.b-work-list{
		width: 100%;
		text-align: center;
	}
		.b-work ul.b-work-list li{
			width: 303px;
			height: 303px;
			background-position: 50% 50%;
			background-size: cover;
			float: none;
			margin-right: 20px;
			display: inline-block;
			margin-bottom: 20px;
			/*overflow: hidden;*/
		}
		.b-work ul.b-work-list li.b-big-work{
			width: 630px;
		}
			.b-work ul.b-work-list li .b-hover{
				/*display: none;*/
				width: 100%;
				height: 100%;
				color: #FFF;
				box-sizing: border-box;
				padding: 30px 35px;
				text-align: left;
				opacity: 0;
				visibility: hidden;
				-webkit-transform: scale(0.8);
				   -moz-transform: scale(0.8);
				    -ms-transform: scale(0.8);
				   	 -o-transform: scale(0.8);
						transform: scale(0.8);
				overflow: hidden;
			}
				.b-work ul.b-work-list li:hover .b-hover{
					visibility: visible;
					opacity: 1;
					-webkit-transform: scale(1);
					   -moz-transform: scale(1);
					    -ms-transform: scale(1);
					   	 -o-transform: scale(1);
							transform: scale(1);
				}
				.b-work ul.b-work-list li .b-hover h3{
					font-size: 36px;
					line-height: 46px;
					text-transform: uppercase;
					position: relative;
					margin-bottom: 40px;
				}
					.b-work ul.b-work-list li .b-hover h3:before{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 60px;
						height: 3px;
						left: 0px;
						bottom: -21px;
					}
				.b-work ul.b-work-list li .b-hover p{
					font-size: 28px;
					line-height: 40px;
				}
					.b-work ul.b-work-list li .b-hover p a{
						text-decoration: underline;
						color: #FFF;
					}
						.b-work ul.b-work-list li .b-hover p a:hover{
							text-decoration: none;
						}
				.b-work ul.b-work-list li .b-hover .b-bottom{
					background-position: 50% 50%;
					width: 284px;
					height: 85px;
					background-size: 284px;
					position: absolute;
					right: 0px;
					bottom: -1px;
					-webkit-transform: translateY(85px);
					   -moz-transform: translateY(85px);
					    -ms-transform: translateY(85px);
					   	 -o-transform: translateY(85px);
							transform: translateY(85px);
					opacity: 0;
					text-align: right;
				}
					.b-work ul.b-work-list li:hover .b-hover .b-bottom{
						opacity: 1;
						-webkit-transform: translateY(0px);
						-moz-transform: translateY(0px);
						-ms-transform: translateY(0px);
						-o-transform: translateY(0px);
						transform: translateY(0px);
						background: none;
					}
					.b-work ul.b-work-list li .b-hover .b-bottom a{
						color: #ff5c54;
						text-decoration: underline;
						display: inline-block;
						margin-top: 28px;
						margin-right: 35px;
						font-size: 28px;
						line-height: 20px;
					}
						.b-work ul.b-work-list li .b-hover .b-bottom a:hover{
							text-decoration: none;
						}
.b-callback{
	padding: 80px 0px;
}
	.b-callback h2.b-title{

	}
		.b-callback .b-callback-form{
			display: inline-block;
		}
		.b-callback .b-input{
			display: block;
			margin-bottom: 50px;
			padding: 0px 2px;
		}
			.b-callback .b-input:after{
				position: absolute;
				content: "s";
				font-size: 0px;
				width: 2px;
				height: 51px;
				left: 85px;
				top: 15px;
			}
			.b-callback .b-input.focus:after{
			}
			.b-callback .b-input.b-name-input:before{
				background-position: -148px -2px;
				left: 23px;
				top: 15px;
				width: 44px;
				height: 52px;
			}
			.b-callback .b-input.b-email-input:before{
				background-position: -92px -2px;
				left: 19px;
				top: 22px;
				width: 52px;
				height: 36px;
			}
			.b-callback .b-input.b-phone-input:before{
				background-position: -230px -2px;
				left: 20px;
				top: 16px;
				width: 50px;
				height: 50px;
			}
		.b-callback input[type="text"]{
			display: block;
			padding: 20px 30px 20px 120px;
			width: 480px;
			border-radius: 5px;
			border: 2px solid #cccccc;
			font-size: 32px;
			color: #262626;
		}
		.b-callback	.focus input[type="text"]{
			/*border-color: #ff5c54;*/
		}
		.b-callback a.b-orange-butt{
			padding: 25px 100px 25px 100px;
			margin-top: 28px;
		}
.b-footer{
	padding: 70px 0px 67px;
}
	.b-footer *{
		color: #FFF;
	}
	.b-footer .b-block{

	}
		.b-footer .b-copyright{
			font-size: 28px;
			margin-left: 30px;
		}
		.b-footer .right{

		}
			.b-footer .right a.b-footer-phone{
				font-size: 28px;
				position: relative;
				margin-right: 30px;
				display: inline-block;
			}
				.b-footer .right a.b-footer-phone:before{
					width: 30px;
					height: 34px;
					left: -36px;
					top: -1px;
					display: none;
					background-position: -196px -2px;
				}
			.b-footer .right a.b-up-button{
				font-size: 18px;
				display: inline-block;
				padding-right: 30px;
				position: relative;
				display: none;
			}
				.b-footer .right a.b-up-button:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 20px;
					height: 12px;
					right: 0px;
					top: 4px;
					background-position: 50% 50%;
				}
			.b-footer .right a:hover{
				text-decoration: underline;
			}
.b-thanks{
	padding: 30px;
	width: 580px;
	background-color: #FFF;
	border-radius: 5px;
	margin-bottom: 20px;
}
	.b-thanks h2.b-title{
		padding-top: 40px;
		margin-bottom: 105px;
	}
	.b-thanks h4{
		font-size: 32px;
		margin-bottom: 40px;
		line-height: 44px;
	}
	.b-thanks .b-orange-butt{
		border-radius: 50px;
		border: 2px solid #ff5c54;
		color: #ff5c54;
		background-color: transparent;
		font-size: 32px;
		padding: 10px 30px;
		display: inline-block;
		padding: 24px 100px 24px 100px;
		margin-bottom: 30px;
		cursor: pointer;
	}
		.b-thanks .b-orange-butt:hover{
			background-color: #ff5c54;
			color: #FFF;
		}


@media screen and (min-width: 1599px){
	.b-main-menu{
		margin-top: -220px;
	}
		.b-main-menu li{
			margin-bottom: 45px;
		}
			.b-main-menu a{
				font-size: 60px;
			}
			.b-main-menu a .b-line{
				top: 32px;
				height: 7px;
			}
}
.b-what-block .b-what-num.b-what-num-1{
	background-image: url('../i/num-1@2x.png');
	background-size: 224px;
}
.b-what-we-do-2 .b-what-num.b-what-num-2{
	background-image: url('../i/num-2@2x.png');
	background-size: 266px;
}
.b-what-we-do-3 .b-what-num-3{
	background-image: url('../i/num-3@2x.png');
	background-size: 260px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-icon:before{
		background-image: url('../i/sprite@2x.png');
	}
	.b-what-we-do-2 .b-cards .b-card-1,
	.b-what-we-do-2 .b-cards .b-card-2,
	.b-what-we-do-2 .b-cards .b-card-3{
		background-image: url('../i/what-2/1@2x.jpg');
	}
	.b-what-we-do-2 .b-cards .b-card-4,
	.b-what-we-do-2 .b-cards .b-card-5,
	.b-what-we-do-2 .b-cards .b-card-6,
	.b-what-we-do-2 .b-cards .b-card-7{
		background-image: url('../i/what-2/2@2x.jpg');
	}
	.b-what-we-do-1 .b-block .half.left .b-ipad{
		top: 145px;
	}
}
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}