.st0{opacity:0.9412;fill:#621F4B;}
	.st1{opacity:0.9412;fill:#5D1F4E;}
	.st2{opacity:0.9412;fill:#7F255B;}
	.st3{opacity:0.9412;fill:#F77364;}
	.st4{opacity:0.9412;fill:#80285B;}
	.st5{opacity:0.9412;fill:#FA7C66;}
	.st6{opacity:0.9412;fill:#BE445B;}
	.st7{opacity:0.9412;fill:#802350;}
	.st8{opacity:0.9412;fill:#F67E63;}
	.st9{opacity:0.9412;fill:#F06F5A;}
	.st10{opacity:0.9412;fill:#601533;}
	.st11{opacity:0.9412;fill:#61112E;}
	.st12{opacity:0.9412;fill:#83245E;}
	.st13{opacity:0.9412;fill:#7F2257;}
	.st14{opacity:0.9412;fill:#6E1E53;}
	.st15{opacity:0.9412;fill:#661C51;}
	.st16{opacity:0.9412;fill:#712058;}
	.st17{opacity:0.9412;fill:#B54C74;}
	.st18{opacity:0.9412;fill:#5F1D4B;}
	.st19{opacity:0.9412;fill:#FB786E;}
	.st20{opacity:0.9412;fill:#BB5779;}
	.st21{opacity:0.9412;fill:#FE8B70;}
	.st22{opacity:0.9412;fill:#FB8372;}
	.st23{opacity:0.9412;fill:#B94F75;}
	.st24{opacity:0.9412;fill:#B74E76;}
	.st25{opacity:0.9412;fill:#AE466B;}
	.st26{opacity:0.9412;fill:#C1506C;}
	.st27{opacity:0.9412;fill:#ED676E;}
	.st28{opacity:0.9412;fill:#ED5E70;}
	.st29{opacity:0.9412;fill:#F56D6F;}
	.st30{opacity:0.9412;fill:#B54A74;}
	.st31{opacity:0.9412;fill:#9E2449;}
	.st32{opacity:0.9412;fill:#DB5A6C;}
	.st33{opacity:0.9412;fill:#A1224D;}
	.st34{opacity:0.9412;fill:#C32A49;}
	.st35{opacity:0.9412;fill:#9F2146;}
	.st36{opacity:0.9412;fill:#641942;}
	.st37{opacity:0.9412;fill:#CB3157;}
	.st38{opacity:0.9412;fill:#C82D4F;}
	.st39{opacity:0.9412;fill:#C42D56;}
	.st40{opacity:0.9412;fill:#BF2C56;}
	.st41{opacity:0.9412;fill:#AF2755;}
	.st42{opacity:0.9412;fill:#AF244E;}
	.st43{opacity:0.9412;fill:#A0214C;}
	.st44{opacity:0.9412;fill:#A52351;}
	.st45{opacity:0.9412;fill:#E43E52;}
	.st46{opacity:0.9412;fill:#EF4955;}
	.st47{opacity:0.9412;fill:#DA344C;}
	.st48{opacity:0.9412;fill:#57132A;}
	.st49{opacity:0.9412;fill:#FA6F52;}
	.st50{opacity:0.9412;fill:#F96037;}
	.st51{opacity:0.9412;fill:#FFCF8D;}
	.st52{opacity:0.9412;fill:#FFD193;}
	.st53{opacity:0.9412;fill:#FFD897;}
	.st54{opacity:0.9412;fill:#C92D43;}
	.st55{opacity:0.9412;fill:#ED6D6C;}
	.st56{opacity:0.9412;fill:#EC6762;}
	.st57{opacity:0.9412;fill:#E96966;}
	.st58{opacity:0.9412;fill:#E75C59;}
	.st59{opacity:0.9412;fill:#D13C4F;}
	.st60{opacity:0.9412;fill:#DB515E;}
	.st61{opacity:0.9412;fill:#D54A5D;}
	.st62{opacity:0.9412;fill:#AC2D4B;}
	.st63{opacity:0.9412;fill:#CC3A51;}
	.st64{opacity:0.9412;fill:#B62542;}
	.st65{opacity:0.9412;fill:#C32E42;}
	.st66{opacity:0.9412;fill:#9D294C;}
	.st67{opacity:0.9412;fill:#B02947;}
	.st68{opacity:0.9412;fill:#D85E73;}
	.st69{opacity:0.9412;fill:#A52A46;}
	.st70{opacity:0.9412;fill:#BE4362;}
	.st71{opacity:0.9412;fill:#96264C;}
	.st72{opacity:0.9412;fill:#942750;}
	.st73{opacity:0.9412;fill:#C14561;}
	.st74{opacity:0.9412;fill:#DA7388;}
	.st75{opacity:0.9412;fill:#B83966;}
	.st76{opacity:0.9412;fill:#B2395C;}
	.st77{opacity:0.9412;fill:#AC5075;}
	.st78{opacity:0.9412;fill:#A01B20;}
	.st79{opacity:0.9412;fill:#A02D4E;}
	.st80{opacity:0.9412;fill:#A72F53;}
	.st81{opacity:0.9412;fill:#D45E78;}
	.st82{opacity:0.9412;fill:#CC5571;}
	.st83{opacity:0.9412;fill:#771F49;}
	.st84{opacity:0.9412;fill:#9C2A4E;}
	.st85{opacity:0.9412;fill:#CA5572;}
	.st86{opacity:0.9412;fill:#8F264F;}
	.st87{opacity:0.9412;fill:#852143;}
	.st88{opacity:0.9412;fill:#8C234B;}
	.st89{opacity:0.9412;fill:#6C204F;}
	.st90{opacity:0.9412;fill:#7A2453;}
	.st91{opacity:0.9412;fill:#742656;}
	.st92{opacity:0.9412;fill:#73182A;}
	.st93{opacity:0.9412;fill:#A63048;}
	.st94{opacity:0.9412;fill:#654591;}
	.st95{opacity:0.9412;fill:#7A5B9F;}
	.st96{opacity:0.9412;fill:#67244F;}
	.st97{opacity:0.9412;fill:#996FAE;}
	.st98{opacity:0.9412;fill:#674792;}
	.st99{opacity:0.9412;fill:#A5384D;}
	.st100{opacity:0.9412;fill:#B9435B;}
	.st101{opacity:0.9412;fill:#8B1F36;}
	.st102{opacity:0.9412;fill:#553A89;}
	.st103{opacity:0.9412;fill:#DB3E4F;}
	.st104{opacity:0.9412;fill:#F36059;}
	.st105{opacity:0.9412;fill:#A02A42;}
	.st106{opacity:0.9412;fill:#E4727C;}
	.st107{opacity:0.9412;fill:#7A569C;}
	.st108{opacity:0.9412;fill:#B65978;}
	.st109{opacity:0.9412;fill:#C3769A;}
	.st110{opacity:0.9412;fill:#9C4D7D;}
	.st111{opacity:0.9412;fill:#D86970;}
	.st112{opacity:0.9412;fill:#E16C7C;}
	.st113{opacity:0.9412;fill:#F56662;}
	.st114{opacity:0.9412;fill:#A381BD;}
	.st115{opacity:0.9412;fill:#E0757B;}
	.st116{opacity:0.9412;fill:#E37A7F;}
	.st117{opacity:0.9412;fill:#E57C80;}
	.st118{opacity:0.9412;fill:#DF7579;}
	.st119{opacity:0.9412;fill:#B74962;}
	.st120{opacity:0.9412;fill:#D46875;}
	.st121{opacity:0.9412;fill:#CD5E6E;}
	.st122{opacity:0.9412;fill:#E16C7E;}
	.st123{opacity:0.9412;fill:#5B1D4C;}
	.st124{opacity:0.9412;fill:#F56763;}
	.st125{opacity:0.9412;fill:#CC576A;}
	.st126{opacity:0.9412;fill:#D3586D;}
	.st127{opacity:0.9412;fill:#D35874;}
	.st128{opacity:0.9412;fill:#F06965;}
	.st129{opacity:0.9412;fill:#EE7467;}
	.st130{opacity:0.9412;fill:#F3645C;}
	.st131{opacity:0.9412;fill:#F26963;}
	.st132{opacity:0.9412;fill:#E16D7A;}
	.st133{opacity:0.9412;fill:#8866B2;}
	.st134{opacity:0.9412;fill:#6E4F9B;}
	.st135{opacity:0.9412;fill:#C24662;}
	.st136{opacity:0.9412;fill:#932741;}
	.st137{opacity:0.9412;fill:#5F1B4E;}
	.st138{opacity:0.9412;fill:#AC6E9D;}
	.st139{opacity:0.9412;fill:#A569A9;}
	.st140{opacity:0.9412;fill:#C84C54;}
	.st141{opacity:0.9412;fill:#F0837C;}
	.st142{opacity:0.9412;fill:#D97077;}
	.st143{opacity:0.9412;fill:#A93562;}
	.st144{opacity:0.9412;fill:#ED7C76;}
	.st145{opacity:0.9412;fill:#E2787A;}
	.st146{opacity:0.9412;fill:#EB8078;}
	.st147{opacity:0.9412;fill:#D35C62;}
	.st148{opacity:0.9412;fill:#C74658;}
	.st149{opacity:0.9412;fill:#EA7975;}
	.st150{opacity:0.9412;fill:#C74B63;}
	.st151{opacity:0.9412;fill:#C34664;}
	.st152{opacity:0.9412;fill:#EB7F7C;}
	.st153{opacity:0.9412;fill:#D04C63;}
	.st154{opacity:0.9412;fill:#D35465;}
	.st155{opacity:0.9412;fill:#D55C6D;}
	.st156{opacity:0.9412;fill:#CC4D62;}
	.st157{opacity:0.9412;fill:#CA465E;}
	.st158{opacity:0.9412;fill:#E97B7A;}
	.st159{opacity:0.9412;fill:#D86375;}
	.st160{opacity:0.9412;fill:#CE5469;}
	.st161{opacity:0.9412;fill:#CD5266;}
	.st162{opacity:0.9412;fill:#ED8480;}
	.st163{opacity:0.9412;fill:#BC4565;}
	.st164{opacity:0.9412;fill:#C14567;}
	.st165{opacity:0.9412;fill:#D97482;}
	.st166{opacity:0.9412;fill:#AF3862;}
	.st167{opacity:0.9412;fill:#CD5169;}
	.st168{opacity:0.9412;fill:#CA4968;}
	.st169{opacity:0.9412;fill:#B9395C;}
	.st170{opacity:0.9412;fill:#C74A68;}
	.st171{opacity:0.9412;fill:#BE4267;}
	.st172{opacity:0.9412;fill:#B53C65;}
	.st173{opacity:0.9412;fill:#D66777;}
	.st174{opacity:0.9412;fill:#C6444C;}
	.st175{opacity:0.9412;fill:#CA546C;}
	.st176{opacity:0.9412;fill:#C2466A;}
	.st177{opacity:0.9412;fill:#9C284F;}
	.st178{opacity:0.9412;fill:#AB3662;}
	.st179{opacity:0.9412;fill:#9E2B4C;}
	.st180{opacity:0.9412;fill:#C34769;}
	.st181{opacity:0.9412;fill:#931F22;}
	.st182{opacity:0.9412;fill:#81224A;}
	.st183{opacity:0.9412;fill:#C64F6D;}
	.st184{opacity:0.9412;fill:#782455;}
	.st185{opacity:0.9412;fill:#A4335E;}
	.st186{opacity:0.9412;fill:#6A1D47;}
	.st187{opacity:0.9412;fill:#BA4363;}
	.st188{opacity:0.9412;fill:#C24D6A;}
	.st189{opacity:0.9412;fill:#B74366;}
	.st190{opacity:0.9412;fill:#AE3B66;}
	.st191{opacity:0.9412;fill:#952A56;}
	.st192{opacity:0.9412;fill:#8F2A4C;}
	.st193{opacity:0.9412;fill:#90264C;}
	.st194{opacity:0.9412;fill:#9D2D55;}
	.st195{opacity:0.9412;fill:#9B2E58;}
	.st196{opacity:0.9412;fill:#812146;}
	.st197{opacity:0.9412;fill:#7E224B;}
	.st198{opacity:0.9412;fill:#912E5C;}
	.st199{opacity:0.9412;fill:#932749;}
	.st200{opacity:0.9412;fill:#7F204C;}
	.st201{opacity:0.9412;fill:#97355C;}
	.st202{opacity:0.9412;fill:#822144;}
	.st203{opacity:0.9412;fill:#85234C;}
	.st204{opacity:0.9412;fill:#731D44;}
	.st205{opacity:0.9412;fill:#FA7667;}
	.st206{opacity:0.9412;fill:#6C1C43;}
	.st207{opacity:0.9412;fill:#FD6651;}
	.st208{opacity:0.9412;fill:#F76F59;}
	.st209{opacity:0.9412;fill:#741D48;}
	.st210{opacity:0.9412;fill:#762045;}
	.st211{opacity:0.9412;fill:#711C46;}
	.st212{opacity:0.9412;fill:#C14569;}
	.st213{opacity:0.9412;fill:#C24567;}
	.st214{opacity:0.9412;fill:#F46760;}
	.st215{opacity:0.9412;fill:#F67064;}
	.st216{opacity:0.9412;fill:#E1626D;}
	.st217{opacity:0.9412;fill:#F57165;}
	.st218{opacity:0.9412;fill:#EF6966;}
	.st219{opacity:0.9412;fill:#EA4B50;}
	.st220{opacity:0.9412;fill:#F86C5D;}
	.st221{opacity:0.9412;fill:#87264F;}
	.st222{opacity:0.9412;fill:#712049;}
	.st223{opacity:0.9412;fill:#7F2853;}
	.st224{opacity:0.9412;fill:#6A1E4C;}
	.st225{opacity:0.9412;fill:#EE6763;}
	.st226{opacity:0.9412;fill:#762351;}
	.st227{opacity:0.9412;fill:#651D4D;}
	.st228{opacity:0.9412;fill:#631F52;}
	.st229{opacity:0.9412;fill:#521A49;}
	.st230{opacity:0.9412;fill:#5D1D4F;}
	.st231{opacity:0.9412;fill:#A472AD;}
	.st232{opacity:0.9412;fill:#B57CA9;}
	.st233{opacity:0.9412;fill:#AC80BB;}
	.st234{opacity:0.9412;fill:#D7656D;}
	.st235{opacity:0.9412;fill:#E17374;}
	.st236{opacity:0.9412;fill:#DB6273;}
	.st237{opacity:0.9412;fill:#DB6271;}
	.st238{opacity:0.9412;fill:#AC3549;}
	.st239{opacity:0.9412;fill:#A03049;}
	.st240{opacity:0.9412;fill:#B64968;}
	.st241{opacity:0.9412;fill:#B480AE;}
	.st242{opacity:0.9412;fill:#CF484C;}
	.st243{opacity:0.9412;fill:#B73D52;}
	.st244{opacity:0.9412;fill:#DB6B6A;}
	.st245{opacity:0.9412;fill:#F07E66;}
	.st246{opacity:0.9412;fill:#C35C77;}
	.st247{opacity:0.9412;fill:#DF5A55;}
	.st248{opacity:0.9412;fill:#F8AA83;}
	.st249{opacity:0.9412;fill:#EC7F6A;}
	.st250{opacity:0.9412;fill:#FBC48E;}
	.st251{opacity:0.9412;fill:#E66D74;}
	.st252{opacity:0.9412;fill:#E06770;}
	.st253{opacity:0.9412;fill:#E77978;}
	.st254{opacity:0.9412;fill:#FDB28B;}
	.st255{opacity:0.9412;fill:#E5636D;}
	.st256{opacity:0.9412;fill:#E76F71;}
	.st257{opacity:0.9412;fill:#E77B79;}
	.st258{opacity:0.9412;fill:#FEBA8B;}
	.st259{opacity:0.9412;fill:#DD555F;}
	.st260{opacity:0.9412;fill:#DC5866;}
	.st261{opacity:0.9412;fill:#E6727B;}
	.st262{opacity:0.9412;fill:#F7AB87;}
	.st263{opacity:0.9412;fill:#D85563;}
	.st264{opacity:0.9412;fill:#CD4353;}
	.st265{opacity:0.9412;fill:#DC5F67;}
	.st266{opacity:0.9412;fill:#B32D4E;}
	.st267{opacity:0.9412;fill:#BB3047;}
	.st268{opacity:0.9412;fill:#B92B45;}
	.st269{opacity:0.9412;fill:#C5364A;}
	.st270{opacity:0.9412;fill:#E46C76;}
	.st271{opacity:0.9412;fill:#DD5966;}
	.st272{opacity:0.9412;fill:#CA3F52;}
	.st273{opacity:0.9412;fill:#9B2A48;}
	.st274{opacity:0.9412;fill:#E0676C;}
	.st275{opacity:0.9412;fill:#C43956;}
	.st276{opacity:0.9412;fill:#AE2F4C;}
	.st277{opacity:0.9412;fill:#881F4A;}
	.st278{opacity:0.9412;fill:#C84058;}
	.st279{opacity:0.9412;fill:#BE3350;}
	.st280{opacity:0.9412;fill:#D24D5E;}
	.st281{opacity:0.9412;fill:#DA5D6F;}
	.st282{opacity:0.9412;fill:#AD2A4A;}
	.st283{opacity:0.9412;fill:#B52A47;}
	.st284{opacity:0.9412;fill:#C23D5C;}
	.st285{opacity:0.9412;fill:#BF3858;}
	.st286{opacity:0.9412;fill:#A82D4A;}
	.st287{opacity:0.9412;fill:#CE4C64;}
	.st288{opacity:0.9412;fill:#C9455D;}
	.st289{opacity:0.9412;fill:#B03051;}
	.st290{opacity:0.9412;fill:#AC2D4A;}
	.st291{opacity:0.9412;fill:#B53856;}
	.st292{opacity:0.9412;fill:#B83756;}
	.st293{opacity:0.9412;fill:#8E203D;}
	.st294{opacity:0.9412;fill:#C04061;}
	.st295{opacity:0.9412;fill:#79204C;}
	.st296{opacity:0.9412;fill:#94254F;}
	.st297{opacity:0.9412;fill:#A22B4B;}
	.st298{opacity:0.9412;fill:#A02843;}
	.st299{opacity:0.9412;fill:#9D2950;}
	.st300{opacity:0.9412;fill:#AE3256;}
	.st301{opacity:0.9412;fill:#A62F4F;}
	.st302{opacity:0.9412;fill:#9E2848;}
	.st303{opacity:0.9412;fill:#992749;}
	.st304{opacity:0.9412;fill:#7B2147;}
	.st305{opacity:0.9412;fill:#96284D;}
	.st306{opacity:0.9412;fill:#841F47;}
	.st307{opacity:0.9412;fill:#7E131B;}
	.st308{opacity:0.9412;fill:#701F4A;}
	.st309{opacity:0.9412;fill:#9E284B;}
	.st310{opacity:0.9412;fill:#7E162D;}
	.st311{opacity:0.9412;fill:#8E1B38;}
	.st312{opacity:0.9412;fill:#7B1F48;}
	.st313{opacity:0.9412;fill:#82214C;}
	.st314{opacity:0.9412;fill:#77182C;}
	.st315{opacity:0.9412;fill:#7A1B31;}
	.st316{opacity:0.9412;fill:#A12A50;}
	.st317{opacity:0.9412;fill:#97274F;}
	.st318{opacity:0.9412;fill:#7C1B3E;}
	.st319{opacity:0.9412;fill:#7E1D48;}
	.st320{opacity:0.9412;fill:#842249;}
	.st321{opacity:0.9412;fill:#8E244A;}
	.st322{opacity:0.9412;fill:#8B2348;}
	.st323{opacity:0.9412;fill:#8E244C;}
	.st324{opacity:0.9412;fill:#831A38;}
	.st325{opacity:0.9412;fill:#812348;}
	.st326{opacity:0.9412;fill:#761F4A;}
	.st327{opacity:0.9412;fill:#842551;}
	.st328{opacity:0.9412;fill:#812450;}
	.st329{opacity:0.9412;fill:#761F49;}
	.st330{opacity:0.9412;fill:#711E4A;}
	.st331{opacity:0.9412;fill:#5B1134;}
	.st332{opacity:0.9412;fill:#711D41;}
	.st333{opacity:0.9412;fill:#501C4D;}
	.st334{opacity:0.9412;fill:#581944;}
	.st335{opacity:0.9412;fill:#AB7CAA;}
	.st336{opacity:0.9412;fill:#D23E3E;}
	.st337{opacity:0.9412;fill:#D26F84;}
	.st338{opacity:0.9412;fill:#BB6282;}
	.st339{opacity:0.9412;fill:#BB2A2D;}
	.st340{opacity:0.9412;fill:#F18E79;}
	.st341{opacity:0.9412;fill:#F49785;}
	.st342{opacity:0.9412;fill:#F9A78F;}
	.st343{opacity:0.9412;fill:#EB7F73;}
	.st344{opacity:0.9412;fill:#FAB191;}
	.st345{opacity:0.9412;fill:#F59D89;}
	.st346{opacity:0.9412;fill:#F18B7F;}
	.st347{opacity:0.9412;fill:#EB7F75;}
	.st348{opacity:0.9412;fill:#6C1E46;}
	.st349{opacity:0.9412;fill:#752049;}
	.st350{opacity:0.9412;fill:#581A4B;}
	.st351{opacity:0.9412;fill:#411C52;}
	.st352{opacity:0.9412;fill:#F79D7A;}
	.st353{opacity:0.9412;fill:#C94249;}
	.st354{opacity:0.9412;fill:#D95153;}
	.st355{opacity:0.9412;fill:#EC7668;}
	.st356{opacity:0.9412;fill:#FFD992;}
	.st357{opacity:0.9412;fill:#F9966F;}
	.st358{opacity:0.9412;fill:#FFE6A4;}
	.st359{opacity:0.9412;fill:#FFDDA5;}
	.st360{opacity:0.9412;fill:#B82C4F;}
	.st361{opacity:0.9412;fill:#D3374D;}
	.st362{opacity:0.9412;fill:#F0665C;}
	.st363{opacity:0.9412;fill:#F86E54;}
	.st364{opacity:0.9412;fill:#DE3B4C;}
	.st365{opacity:0.9412;fill:#FFE58E;}
	.st366{opacity:0.9412;fill:#F76A58;}
	.st367{opacity:0.9412;fill:#FEF5B2;}
	.st368{opacity:0.9412;fill:#F36358;}
	.st369{opacity:0.9412;fill:#FECB8A;}
	.st370{opacity:0.9412;fill:#F8745D;}
	.st371{opacity:0.9412;fill:#AE2B4D;}
	.st372{opacity:0.9412;fill:#FCE389;}
	.st373{opacity:0.9412;fill:#E74C50;}
	.st374{opacity:0.9412;fill:#E14549;}
	.st375{opacity:0.9412;fill:#ED544F;}
	.st376{opacity:0.9412;fill:#EA5551;}
	.st377{opacity:0.9412;fill:#E8474D;}
	.st378{opacity:0.9412;fill:#EF6960;}
	.st379{opacity:0.9412;fill:#FDB481;}
	.st380{opacity:0.9412;fill:#EE5B54;}
	.st381{opacity:0.9412;fill:#D73947;}
	.st382{opacity:0.9412;fill:#D4374A;}
	.st383{opacity:0.9412;fill:#E96862;}
	.st384{opacity:0.9412;fill:#C32B44;}
	.st385{opacity:0.9412;fill:#DC4450;}
	.st386{opacity:0.9412;fill:#B5294C;}
	.st387{opacity:0.9412;fill:#E64F58;}
	.st388{opacity:0.9412;fill:#E95F5C;}
	.st389{opacity:0.9412;fill:#C82E48;}
	.st390{opacity:0.9412;fill:#C02B49;}
	.st391{opacity:0.9412;fill:#D5384B;}
	.st392{opacity:0.9412;fill:#A32C4C;}
	.st393{opacity:0.9412;fill:#962550;}
	.st394{opacity:0.9412;fill:#C32D4A;}
	.st395{opacity:0.9412;fill:#C92F4B;}
	.st396{opacity:0.9412;fill:#A22A4D;}
	.st397{opacity:0.9412;fill:#B42948;}
	.st398{opacity:0.9412;fill:#BA2743;}
	.st399{opacity:0.9412;fill:#AD2C4A;}
	.st400{opacity:0.9412;fill:#A22C4F;}
	.st401{opacity:0.9412;fill:#A02A4D;}
	.st402{opacity:0.9412;fill:#851A34;}
	.st403{opacity:0.9412;fill:#8B244F;}
	.st404{opacity:0.9412;fill:#902446;}
	.st405{opacity:0.9412;fill:#6E193A;}
	.st406{opacity:0.9412;fill:#661943;}
	.st407{opacity:0.9412;fill:#57153B;}
	.st408{opacity:0.9412;fill:#4E173F;}
	.st409{opacity:0.9412;fill:#491C47;}
	.st410{opacity:0.9412;fill:#5B1740;}
	.st411{opacity:0.9412;fill:#531336;}
	.st412{opacity:0.9412;fill:#511940;}
	.st413{opacity:0.9412;fill:#431845;}
	.st414{opacity:0.9412;fill:#3C1B4A;}
	.st415{opacity:0.9412;fill:#FEEAA1;}
	.st416{opacity:0.9412;fill:#FEF495;}
	.st417{opacity:0.9412;fill:#FDBC84;}
	.st418{opacity:0.9412;fill:#F38D74;}
	.st419{opacity:0.9412;fill:#FEECA0;}
	.st420{opacity:0.9412;fill:#FFFFF3;}
	.st421{opacity:0.9412;fill:#FEDF8C;}
	.st422{opacity:0.9412;fill:#FD9163;}
	.st423{opacity:0.9412;fill:#FFC387;}
	.st424{opacity:0.9412;fill:#FEFFFA;}
	.st425{opacity:0.9412;fill:#FEFFDD;}
	.st426{opacity:0.9412;fill:#F16161;}
	.st427{opacity:0.9412;fill:#FEFBAA;}
	.st428{opacity:0.9412;fill:#FFFFFF;}
	.st429{opacity:0.9412;fill:#FEFFF9;}
	.st430{opacity:0.9412;fill:#FEFC98;}
	.st431{opacity:0.9412;fill:#FFFEA1;}
	.st432{opacity:0.9412;fill:#FEFFEF;}
	.st433{opacity:0.9412;fill:#F25F57;}
	.st434{opacity:0.9412;fill:#FED877;}
	.st435{opacity:0.9412;fill:#EE4D55;}
	.st436{opacity:0.9412;fill:#FC795B;}
	.st437{opacity:0.9412;fill:#FEFEDA;}
	.st438{opacity:0.9412;fill:#FEE67C;}
	.st439{opacity:0.9412;fill:#F65D57;}
	.st440{opacity:0.9412;fill:#FB8361;}
	.st441{opacity:0.9412;fill:#F04A56;}
	.st442{opacity:0.9412;fill:#FD7C5D;}
	.st443{opacity:0.9412;fill:#FE8357;}
	.st444{opacity:0.9412;fill:#F5655D;}
	.st445{opacity:0.9412;fill:#FF9E6B;}
	.st446{opacity:0.9412;fill:#F87062;}
	.st447{opacity:0.9412;fill:#F05458;}
	.st448{opacity:0.9412;fill:#FFA265;}
	.st449{opacity:0.9412;fill:#E2394E;}
	.st450{opacity:0.9412;fill:#FFA36A;}
	.st451{opacity:0.9412;fill:#EF4E56;}
	.st452{opacity:0.9412;fill:#FEFB92;}
	.st453{opacity:0.9412;fill:#FEAF6D;}
	.st454{opacity:0.9412;fill:#FEDA79;}
	.st455{opacity:0.9412;fill:#F46350;}
	.st456{opacity:0.9412;fill:#F05658;}
	.st457{opacity:0.9412;fill:#EE5456;}
	.st458{opacity:0.9412;fill:#DD3C4B;}
	.st459{opacity:0.9412;fill:#F65E53;}
	.st460{opacity:0.9412;fill:#FFEF7E;}
	.st461{opacity:0.9412;fill:#DF384C;}
	.st462{opacity:0.9412;fill:#E64152;}
	.st463{opacity:0.9412;fill:#C62745;}
	.st464{opacity:0.9412;fill:#E94B48;}
	.st465{opacity:0.9412;fill:#F3594F;}
	.st466{opacity:0.9412;fill:#E7414D;}
	.st467{opacity:0.9412;fill:#EA4951;}
	.st468{opacity:0.9412;fill:#D9384A;}
	.st469{opacity:0.9412;fill:#DE3B4E;}
	.st470{opacity:0.9412;fill:#E94546;}
	.st471{opacity:0.9412;fill:#D12D48;}
	.st472{opacity:0.9412;fill:#C22948;}
	.st473{opacity:0.9412;fill:#B6294B;}
	.st474{opacity:0.9412;fill:#CF3247;}
	.st475{opacity:0.9412;fill:#C62C46;}
	.st476{opacity:0.9412;fill:#AC2546;}
	.st477{opacity:0.9412;fill:#B3294B;}
	.st478{opacity:0.9412;fill:#921E41;}
	.st479{opacity:0.9412;fill:#931F42;}
	.st480{opacity:0.9412;fill:#5D1C47;}
	.st481{opacity:0.9412;fill:#681946;}
	.st482{opacity:0.9412;fill:#48163B;}
	.st483{opacity:0.9412;fill:#3F1336;}
	.st484{opacity:0.9412;fill:#331031;}
	.st485{opacity:0.9412;fill:#C74E61;}
	.st486{opacity:0.9412;fill:#B34761;}
	.st487{opacity:0.9412;fill:#E66A6A;}
	.st488{opacity:0.9412;fill:#B6374A;}
	.st489{opacity:0.9412;fill:#CF5057;}
	.st490{opacity:0.9412;fill:#FEFAB1;}
	.st491{opacity:0.9412;fill:#FFFCC5;}
	.st492{opacity:0.9412;fill:#871D43;}
	.st493{opacity:0.9412;fill:#70183E;}
	.st494{opacity:0.9412;fill:#4F163F;}
	.st495{opacity:0.9412;fill:#551740;}
	.st496{opacity:0.9412;fill:#491641;}
	.st497{opacity:0.9412;fill:#3A1540;}
	.st498{opacity:0.9412;fill:#28091B;}
	.st499{opacity:0.9412;fill:#C79BBE;}
	.st500{opacity:0.9412;fill:#B68DAF;}
	.st501{opacity:0.9412;fill:#C58EAD;}
	.st502{opacity:0.9412;fill:#B78BAE;}
	.st503{opacity:0.9412;fill:#CFA3BC;}
	.st504{opacity:0.9412;fill:#BA8DAE;}
	.st505{opacity:0.9412;fill:#B25C7F;}
	.st506{opacity:0.9412;fill:#C67B92;}
	.st507{opacity:0.9412;fill:#C6697C;}
	.st508{opacity:0.9412;fill:#BC5D73;}
	.st509{opacity:0.9412;fill:#FDDAC4;}
	.st510{opacity:0.9412;fill:#DA7E89;}
	.st511{opacity:0.9412;fill:#D46C75;}
	.st512{opacity:0.9412;fill:#FBCFAA;}
	.st513{opacity:0.9412;fill:#FAA681;}
	.st514{opacity:0.9412;fill:#FDAB7C;}
	.st515{opacity:0.9412;fill:#FEAC7C;}
	.st516{opacity:0.9412;fill:#FEF8D6;}
	.st517{opacity:0.9412;fill:#F5B4A2;}
	.st518{opacity:0.9412;fill:#FDA97D;}
	.st519{opacity:0.9412;fill:#FFE6A3;}
	.st520{opacity:0.9412;fill:#FCCBA2;}
	.st521{opacity:0.9412;fill:#FBB987;}
	.st522{opacity:0.9412;fill:#FFC78C;}
	.st523{opacity:0.9412;fill:#FFB183;}
	.st524{opacity:0.9412;fill:#EF6B76;}
	.st525{opacity:0.9412;fill:#FFB286;}
	.st526{opacity:0.9412;fill:#E1586C;}
	.st527{opacity:0.9412;fill:#E0566D;}
	.st528{opacity:0.9412;fill:#E4546D;}
	.st529{opacity:0.9412;fill:#EA6173;}
	.st530{opacity:0.9412;fill:#EC6470;}
	.st531{opacity:0.9412;fill:#C52E59;}
	.st532{opacity:0.9412;fill:#FFECA8;}
	.st533{opacity:0.9412;fill:#CA3555;}
	.st534{opacity:0.9412;fill:#FFEFB1;}
	.st535{opacity:0.9412;fill:#FDA388;}
	.st536{opacity:0.9412;fill:#EE656C;}
	.st537{opacity:0.9412;fill:#DA3C53;}
	.st538{opacity:0.9412;fill:#DB3F55;}
	.st539{opacity:0.9412;fill:#FDF9D3;}
	.st540{opacity:0.9412;fill:#E24153;}
	.st541{opacity:0.9412;fill:#E84756;}
	.st542{opacity:0.9412;fill:#E34456;}
	.st543{opacity:0.9412;fill:#E84D55;}
	.st544{opacity:0.9412;fill:#FFFABA;}
	.st545{opacity:0.9412;fill:#C9345C;}
	.st546{opacity:0.9412;fill:#FFB58E;}
	.st547{opacity:0.9412;fill:#CE2F55;}
	.st548{opacity:0.9412;fill:#FFFDD4;}
	.st549{opacity:0.9412;fill:#CB335C;}
	.st550{opacity:0.9412;fill:#FFFFED;}
	.st551{opacity:0.9412;fill:#E94858;}
	.st552{opacity:0.9412;fill:#F1585A;}
	.st553{opacity:0.9412;fill:#F76E68;}
	.st554{opacity:0.9412;fill:#EE5357;}
	.st555{opacity:0.9412;fill:#FFCA88;}
	.st556{opacity:0.9412;fill:#B52A54;}
	.st557{opacity:0.9412;fill:#C8335B;}
	.st558{opacity:0.9412;fill:#F0575A;}
	.st559{opacity:0.9412;fill:#FFF7AE;}
	.st560{opacity:0.9412;fill:#DE4362;}
	.st561{opacity:0.9412;fill:#FFC47E;}
	.st562{opacity:0.9412;fill:#D33A59;}
	.st563{opacity:0.9412;fill:#FD9174;}
	.st564{opacity:0.9412;fill:#F76767;}
	.st565{opacity:0.9412;fill:#BD2E59;}
	.st566{opacity:0.9412;fill:#E4425A;}
	.st567{opacity:0.9412;fill:#FC7A64;}
	.st568{opacity:0.9412;fill:#D93C5B;}
	.st569{opacity:0.9412;fill:#FB836B;}
	.st570{opacity:0.9412;fill:#F4605C;}
	.st571{opacity:0.9412;fill:#D53857;}
	.st572{opacity:0.9412;fill:#CD3856;}
	.st573{opacity:0.9412;fill:#F15C58;}
	.st574{opacity:0.9412;fill:#AB2655;}
	.st575{opacity:0.9412;fill:#E64557;}
	.st576{opacity:0.9412;fill:#E94756;}
	.st577{opacity:0.9412;fill:#EF535E;}
	.st578{opacity:0.9412;fill:#E4475A;}
	.st579{opacity:0.9412;fill:#BB2950;}
	.st580{opacity:0.9412;fill:#D23150;}
	.st581{opacity:0.9412;fill:#DF3A58;}
	.st582{opacity:0.9412;fill:#FD8D65;}
	.st583{opacity:0.9412;fill:#D43959;}
	.st584{opacity:0.9412;fill:#D5375A;}
	.st585{opacity:0.9412;fill:#FA7C63;}
	.st586{opacity:0.9412;fill:#E44259;}
	.st587{opacity:0.9412;fill:#EB495E;}
	.st588{opacity:0.9412;fill:#F05462;}
	.st589{opacity:0.9412;fill:#D1375D;}
	.st590{opacity:0.9412;fill:#C83257;}
	.st591{opacity:0.9412;fill:#9D224E;}
	.st592{opacity:0.9412;fill:#ED4C5C;}
	.st593{opacity:0.9412;fill:#F05864;}
	.st594{opacity:0.9412;fill:#FB7963;}
	.st595{opacity:0.9412;fill:#ED4B5A;}
	.st596{opacity:0.9412;fill:#8E1C40;}
	.st597{opacity:0.9412;fill:#E6425B;}
	.st598{opacity:0.9412;fill:#E64459;}
	.st599{opacity:0.9412;fill:#DF3B54;}
	.st600{opacity:0.9412;fill:#F05962;}
	.st601{opacity:0.9412;fill:#D03255;}
	.st602{opacity:0.9412;fill:#EB4859;}
	.st603{opacity:0.9412;fill:#DC3958;}
	.st604{opacity:0.9412;fill:#FE7C64;}
	.st605{opacity:0.9412;fill:#EA4354;}
	.st606{opacity:0.9412;fill:#BA2952;}
	.st607{opacity:0.9412;fill:#9B2148;}
	.st608{opacity:0.9412;fill:#EE4759;}
	.st609{opacity:0.9412;fill:#D5314C;}
	.st610{opacity:0.9412;fill:#E53E50;}
	.st611{opacity:0.9412;fill:#D53654;}
	.st612{opacity:0.9412;fill:#D22E47;}
	.st613{opacity:0.9412;fill:#B02248;}
	.st614{opacity:0.9412;fill:#E43D4E;}
	.st615{opacity:0.9412;fill:#6E183D;}
	.st616{opacity:0.9412;fill:#911D40;}
	.st617{opacity:0.9412;fill:#9B1D42;}
	.st618{opacity:0.9412;fill:#D02D48;}
	.st619{opacity:0.9412;fill:#651C47;}
	.st620{opacity:0.9412;fill:#A01D3F;}
	.st621{opacity:0.9412;fill:#B92340;}
	.st622{opacity:0.9412;fill:#891D3F;}
	.st623{opacity:0.9412;fill:#6E1C44;}
	.st624{opacity:0.9412;fill:#421238;}
	.st625{opacity:0.9412;fill:#4D153C;}
	.st626{opacity:0.9412;fill:#641B48;}
	.st627{opacity:0.9412;fill:#431641;}
	.st628{opacity:0.9412;fill:#451642;}
	.st629{opacity:0.9412;fill:#AF4760;}
	.st630{opacity:0.9412;fill:#D3686E;}
	.st631{opacity:0.9412;fill:#C55A6E;}
	.st632{opacity:0.9412;fill:#E9877C;}
	.st633{opacity:0.9412;fill:#F69779;}
	.st634{opacity:0.9412;fill:#E37A74;}
	.st635{opacity:0.9412;fill:#FFEE86;}
	.st636{opacity:0.9412;fill:#F89E7C;}
	.st637{opacity:0.9412;fill:#FDFCBB;}
	.st638{opacity:0.9412;fill:#FD7C5C;}
	.st639{opacity:0.9412;fill:#FFA570;}
	.st640{opacity:0.9412;fill:#931D40;}
	.st641{opacity:0.9412;fill:#881C40;}
	.st642{opacity:0.9412;fill:#6D193D;}
	.st643{opacity:0.9412;fill:#411643;}
	.st644{opacity:0.9412;fill:#4E1542;}
	.st645{opacity:0.9412;fill:#49173D;}
	.st646{opacity:0.9412;fill:#38133C;}
	.st647{opacity:0.9412;fill:#902D42;}
	.st648{opacity:0.9412;fill:#C67482;}
	.st649{opacity:0.9412;fill:#EAAEAD;}
	.st650{opacity:0.9412;fill:#F7EEEF;}
	.st651{opacity:0.9412;fill:#CD7F8D;}
	.st652{opacity:0.9412;fill:#7E2247;}
	.st653{opacity:0.9412;fill:#741B39;}
	.st654{opacity:0.9412;fill:#9A214E;}
	.st655{opacity:0.9412;fill:#F6DAC2;}
	.st656{opacity:0.9412;fill:#A94061;}
	.st657{opacity:0.9412;fill:#7A2449;}
	.st658{opacity:0.9412;fill:#7D224E;}
	.st659{opacity:0.9412;fill:#FBD1A7;}
	.st660{opacity:0.9412;fill:#FBD1AB;}
	.st661{opacity:0.9412;fill:#B03A4A;}
	.st662{opacity:0.9412;fill:#F6DFCF;}
	.st663{opacity:0.9412;fill:#711A2D;}
	.st664{opacity:0.9412;fill:#FBE1C6;}
	.st665{opacity:0.9412;fill:#F7E5D9;}
	.st666{opacity:0.9412;fill:#7D253D;}
	.st667{opacity:0.9412;fill:#7A2248;}
	.st668{opacity:0.9412;fill:#72223F;}
	.st669{opacity:0.9412;fill:#7C2140;}
	.st670{opacity:0.9412;fill:#7F234A;}
	.st671{opacity:0.9412;fill:#7B273F;}
	.st672{opacity:0.9412;fill:#F8E6E2;}
	.st673{opacity:0.9412;fill:#7B1E4B;}
	.st674{opacity:0.9412;fill:#9F3D64;}
	.st675{opacity:0.9412;fill:#7C2343;}
	.st676{opacity:0.9412;fill:#7E2251;}
	.st677{opacity:0.9412;fill:#832549;}
	.st678{opacity:0.9412;fill:#7F273D;}
	.st679{opacity:0.9412;fill:#842857;}
	.st680{opacity:0.9412;fill:#84264A;}
	.st681{opacity:0.9412;fill:#83254A;}
	.st682{opacity:0.9412;fill:#9E2C43;}
	.st683{opacity:0.9412;fill:#952E4C;}
	.st684{opacity:0.9412;fill:#8C2747;}
	.st685{opacity:0.9412;fill:#892A56;}
	.st686{opacity:0.9412;fill:#822250;}
	.st687{opacity:0.9412;fill:#852652;}
	.st688{opacity:0.9412;fill:#902E55;}
	.st689{opacity:0.9412;fill:#762256;}
	.st690{opacity:0.9412;fill:#F89576;}
	.st691{opacity:0.9412;fill:#872848;}
	.st692{opacity:0.9412;fill:#8C264D;}
	.st693{opacity:0.9412;fill:#88264C;}
	.st694{opacity:0.9412;fill:#811E4C;}
	.st695{opacity:0.9412;fill:#FCA973;}
	.st696{opacity:0.9412;fill:#862749;}
	.st697{opacity:0.9412;fill:#94284A;}
	.st698{opacity:0.9412;fill:#862753;}
	.st699{opacity:0.9412;fill:#F98262;}
	.st700{opacity:0.9412;fill:#9B2A55;}
	.st701{opacity:0.9412;fill:#F8AF86;}
	.st702{opacity:0.9412;fill:#8A2453;}
	.st703{opacity:0.9412;fill:#FDE3C8;}
	.st704{opacity:0.9412;fill:#FCEBE3;}
	.st705{opacity:0.9412;fill:#F99D76;}
	.st706{opacity:0.9412;fill:#8C2B58;}
	.st707{opacity:0.9412;fill:#FC9A75;}
	.st708{opacity:0.9412;fill:#F87B65;}
	.st709{opacity:0.9412;fill:#8E2C5F;}
	.st710{opacity:0.9412;fill:#932E56;}
	.st711{opacity:0.9412;fill:#782052;}
	.st712{opacity:0.9412;fill:#902A59;}
	.st713{opacity:0.9412;fill:#982F5A;}
	.st714{opacity:0.9412;fill:#982E56;}
	.st715{opacity:0.9412;fill:#AA4169;}
	.st716{opacity:0.9412;fill:#AA4267;}
	.st717{opacity:0.9412;fill:#A94271;}
	.st718{opacity:0.9412;fill:#992B5A;}
	.st719{opacity:0.9412;fill:#9B305A;}
	.st720{opacity:0.9412;fill:#93295A;}
	.st721{opacity:0.9412;fill:#8C285C;}
	.st722{opacity:0.9412;fill:#A53661;}
	.st723{opacity:0.9412;fill:#AB4666;}
	.st724{opacity:0.9412;fill:#6B1947;}
	.st725{opacity:0.9412;fill:#7E2156;}
	.st726{opacity:0.9412;fill:#8F285F;}
	.st727{opacity:0.9412;fill:#A83A69;}
	.st728{opacity:0.9412;fill:#661A4B;}
	.st729{opacity:0.9412;fill:#901C3F;}
	.st730{opacity:0.9412;fill:#721B50;}
	.st731{opacity:0.9412;fill:#872554;}
	.st732{opacity:0.9412;fill:#A43A60;}
	.st733{opacity:0.9412;fill:#922657;}
	.st734{opacity:0.9412;fill:#A03465;}
	.st735{opacity:0.9412;fill:#781F57;}
	.st736{opacity:0.9412;fill:#8E275F;}
	.st737{opacity:0.9412;fill:#AE4168;}
	.st738{opacity:0.9412;fill:#9D2E63;}
	.st739{opacity:0.9412;fill:#801D53;}
	.st740{opacity:0.9412;fill:#942C5F;}
	.st741{opacity:0.9412;fill:#A4386A;}
	.st742{opacity:0.9412;fill:#5B1339;}
	.st743{opacity:0.9412;fill:#8B2555;}
	.st744{opacity:0.9412;fill:#9F3661;}
	.st745{opacity:0.9412;fill:#902656;}
	.st746{opacity:0.9412;fill:#A63A6E;}
	.st747{opacity:0.9412;fill:#81214F;}
	.st748{opacity:0.9412;fill:#771A46;}
	.st749{opacity:0.9412;fill:#92234D;}
	.st750{opacity:0.9412;fill:#6A1A3F;}
	.st751{opacity:0.9412;fill:#AB3B69;}
	.st752{opacity:0.9412;fill:#8D1E48;}
	.st753{opacity:0.9412;fill:#761C42;}
	.st754{opacity:0.9412;fill:#88244A;}
	.st755{opacity:0.9412;fill:#A1345D;}
	.st756{opacity:0.9412;fill:#AE2B4B;}
	.st757{opacity:0.9412;fill:#982449;}
	.st758{opacity:0.9412;fill:#9C2952;}
	.st759{opacity:0.9412;fill:#791935;}
	.st760{opacity:0.9412;fill:#881B38;}
	.st761{opacity:0.9412;fill:#9F2244;}
	.st762{opacity:0.9412;fill:#771C47;}
	.st763{opacity:0.9412;fill:#8A1D44;}
	.st764{opacity:0.9412;fill:#9D2552;}
	.st765{opacity:0.9412;fill:#982044;}
	.st766{opacity:0.9412;fill:#771641;}
	.st767{opacity:0.9412;fill:#791B40;}
	.st768{opacity:0.9412;fill:#651538;}
	.st769{opacity:0.9412;fill:#6A183C;}
	.st770{opacity:0.9412;fill:#982244;}
	.st771{opacity:0.9412;fill:#7C1D3D;}
	.st772{opacity:0.9412;fill:#A1244C;}
	.st773{opacity:0.9412;fill:#B32A56;}
	.st774{opacity:0.9412;fill:#641846;}
	.st775{opacity:0.9412;fill:#581741;}
	.st776{opacity:0.9412;fill:#8B214F;}
	.st777{opacity:0.9412;fill:#9A214C;}
	.st778{opacity:0.9412;fill:#731F50;}
	.st779{opacity:0.9412;fill:#621E4D;}
	.st780{opacity:0.9412;fill:#721B46;}
	.st781{opacity:0.9412;fill:#861F4E;}
	.st782{opacity:0.9412;fill:#4D143D;}
	.st783{opacity:0.9412;fill:#531A43;}
	.st784{opacity:0.9412;fill:#431440;}
	.st785{opacity:0.9412;fill:#E19C9F;}
	.st786{opacity:0.9412;fill:#EBB0AA;}
	.st787{opacity:0.9412;fill:#B02954;}
	.st788{opacity:0.9412;fill:#721B3E;}
	.st789{opacity:0.9412;fill:#601840;}
	.st790{opacity:0.9412;fill:#481442;}
	.st791{opacity:0.9412;fill:#47133A;}
	.st792{opacity:0.9412;fill:#6E2050;}
	.st793{opacity:0.9412;fill:#681C43;}
	.st794{opacity:0.9412;fill:#6A1B3A;}
	.st795{opacity:0.9412;fill:#661E44;}
	.st796{opacity:0.9412;fill:#6C1738;}
	.st797{opacity:0.9412;fill:#EF6050;}
	.st798{opacity:0.9412;fill:#6A234F;}
	.st799{opacity:0.9412;fill:#691B43;}
	.st800{opacity:0.9412;fill:#6B1B3E;}
	.st801{opacity:0.9412;fill:#F96D56;}
	.st802{opacity:0.9412;fill:#5D1B3F;}
	.st803{opacity:0.9412;fill:#6A2252;}
	.st804{opacity:0.9412;fill:#682050;}
	.st805{opacity:0.9412;fill:#621E51;}
	.st806{opacity:0.9412;fill:#4A1644;}
	.st807{opacity:0.9412;fill:#641B46;}
	.st808{opacity:0.9412;fill:#6F2250;}
	.st809{opacity:0.9412;fill:#EF615D;}
	.st810{opacity:0.9412;fill:#77214E;}
	.st811{opacity:0.9412;fill:#F2695F;}
	.st812{opacity:0.9412;fill:#561A4D;}
	.st813{opacity:0.9412;fill:#F69B6F;}
	.st814{opacity:0.9412;fill:#5C1D4C;}
	.st815{opacity:0.9412;fill:#65204F;}
	.st816{opacity:0.9412;fill:#521743;}
	.st817{opacity:0.9412;fill:#81295C;}
	.st818{opacity:0.9412;fill:#531B42;}
	.st819{opacity:0.9412;fill:#F56A57;}
	.st820{opacity:0.9412;fill:#F6755F;}
	.st821{opacity:0.9412;fill:#80285A;}
	.st822{opacity:0.9412;fill:#5D184E;}
	.st823{opacity:0.9412;fill:#792557;}
	.st824{opacity:0.9412;fill:#702453;}
	.st825{opacity:0.9412;fill:#7D2756;}
	.st826{opacity:0.9412;fill:#69204E;}
	.st827{opacity:0.9412;fill:#651F55;}
	.st828{opacity:0.9412;fill:#742157;}
	.st829{opacity:0.9412;fill:#6B2059;}
	.st830{opacity:0.9412;fill:#7E2656;}
	.st831{opacity:0.9412;fill:#6C1C41;}
	.st832{opacity:0.9412;fill:#71235D;}
	.st833{opacity:0.9412;fill:#5D1C54;}
	.st834{opacity:0.9412;fill:#531B48;}
	.st835{opacity:0.9412;fill:#78235E;}
	.st836{opacity:0.9412;fill:#792058;}
	.st837{opacity:0.9412;fill:#732054;}
	.st838{opacity:0.9412;fill:#6B2154;}
	.st839{opacity:0.9412;fill:#671E53;}
	.st840{opacity:0.9412;fill:#752353;}
	.st841{opacity:0.9412;fill:#7F2855;}
	.st842{opacity:0.9412;fill:#752256;}
	.st843{opacity:0.9412;fill:#5F1A51;}
	.st844{opacity:0.9412;fill:#4F1842;}
	.st845{opacity:0.9412;fill:#4B1747;}
	.st846{opacity:0.9412;fill:#601A4C;}
	.st847{opacity:0.9412;fill:#38123B;}
	.st848{opacity:0.9412;fill:#4B193E;}
	.st849{opacity:0.9412;fill:#551A4A;}
	.st850{opacity:0.9412;fill:#661D4B;}
	.st851{opacity:0.9412;fill:#5E1B46;}
	.st852{opacity:0.9412;fill:#3F1441;}
	.st853{opacity:0.9412;fill:#561B4B;}
	.st854{opacity:0.9412;fill:#3C113E;}
	.st855{opacity:0.9412;fill:#47153A;}
	.st856{opacity:0.9412;fill:#401644;}
	.st857{opacity:0.9412;fill:#F7EDE4;}
	.st858{opacity:0.9412;fill:#FAECE9;}
	.st859{opacity:0.9412;fill:#762051;}
	.st860{opacity:0.9412;fill:#541740;}
	.st861{opacity:0.9412;fill:#561942;}
	.st862{opacity:0.9412;fill:#47143D;}
	.st863{opacity:0.9412;fill:#461846;}
	.st864{opacity:0.9412;fill:#441541;}
	.st865{opacity:0.9412;fill:#3B123A;}
	.st866{opacity:0.9412;fill:#4E1A40;}
	.st867{opacity:0.9412;fill:#4D1748;}
	.st868{opacity:0.9412;fill:#42133D;}
	.st869{opacity:0.9412;fill:#4D1A45;}
	.st870{opacity:0.9412;fill:#36113C;}
	.st871{opacity:0.9412;fill:#4A183E;}
	.st872{opacity:0.9412;fill:#391038;}
	.st873{opacity:0.9412;fill:#34102C;}
	.st874{opacity:0.9412;fill:#321130;}
	.st875{opacity:0.9412;fill:#32113C;}
	.st876{opacity:0.9412;fill:#351031;}
	.st877{opacity:0.9412;fill:#371234;}
	.st878{opacity:0.9412;fill:#341237;}
	.st879{opacity:0.9412;fill:#301039;}
	.st880{opacity:0.9412;fill:#491941;}
	.st881{opacity:0.9412;fill:#461741;}
	.st882{opacity:0.9412;fill:#3D1339;}
	.st883{opacity:0.9412;fill:#43163D;}
	.st884{opacity:0.9412;fill:#37123E;}
	.st885{opacity:0.9412;fill:#38133F;}
	.st886{opacity:0.9412;fill:#3F143F;}
	.st887{opacity:0.9412;fill:#32123B;}
	.st888{opacity:0.9412;fill:#2A0D2B;}
	.st889{opacity:0.9412;fill:#2C0D2D;}
	.st890{opacity:0.9412;fill:#2C0E30;}
	.st891{opacity:0.9412;fill:#2D0F33;}
	.st892{opacity:0.9412;fill:#2D123D;}
	.st893{opacity:0.9412;fill:#240B29;}
	.st894{opacity:0.9412;fill:#290E2D;}